{% extends "base.html" %}
{% block title %}
Создание курса
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}

<script type="text/javascript">
function setLocation(){
    try {
        curLoc = "/"
        history.pushState(null, null, curLoc);
        return;
    } catch(e) {}
    location.hash = '#' + curLoc;
    alert("setLocation")
}
</script>


<h1>Создание категории</h1>
<form method="post">
    <input type="text" name="name" placeholder="Название">
    <button type="submit" >Сохранить и вернуться на главную</button>

}

</form>
{% endblock %}

